<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:usesCleartextTraffic="true" tools:replace="android:usesCleartextTraffic">
        <activity android:name=".review.DesignReviewActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="pop-debug" android:host="review" />
            </intent-filter>
        </activity>
    </application>
</manifest>
